.page-home {
	display: flex;
	height: 100vh;
	background-color: lightslategray;
	
	.header {
		background: #09141C;
		position: fixed;
		top: 0;
		height: 5rem;
		width: 100%;
		padding: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		
		#nav-bar-menu {
			display: flex;
			justify-content: space-between;
			#ul-bar-user {
				display: flex;
				font-size: 9px;			
				text-align: center;
			}
		}
	}
	
	#main-content {
		margin-top: 50%;
		height: 100vh;
		background-color: #021218;
	}
	
	#page-footer {
		position: fixed;
		bottom: 0;
		height: 1rem;
		width: 100%;
		background-color: #09141C;
		
		> p {
			display: table-cell;
			align-items: center;
			font-size: 10px;
			
		}
	}
}