.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 7fr 1fr;
	grid-gap: 10px;
	background-color: lightcoral;
	
	header {
		height: 100px;
		grid-column-start: 1;
		grid-column-end: 3;
		background: lawngreen;
		
		#nav-bar-menu {
			display: flex;
			left: 10px;
			
			#ul-bar-menu {
				display: flex;
				li {
					justify-content: space-between;
					color: indigo;
				}
			}
		}
		
		#div-bar-user {
			position: absolute;
			right: 15px;
			
			> p {
				color: indigo;
			}
		}
		
		#label-user {
			color: indigo;
		}
	}
	
	.main-content {
		grid-column-start: 1;
		grid-column-end: 3;
		background: indigo;
		
		#menu-content {
			display: grid;
			position: absolute;
			height: 500px;
			width: 600px;
			background-color: lightseagreen;
			
			button {
				margin: 20px;
				height: 80px;
				width: 260px;
			}
		}
		
	}
	
	#page-footer {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 3;
		background-color: #09141C;
		
		> p {
			display: table-cell;
			font-size: 10px;
		}
	}
}